.addorder{
    background-color: #85bf31;
    color: white;
    padding: 10px;
    position: sticky;
    top: 73px;
    padding-top: 10px;
    border-radius: 6px;
    box-shadow: 1px 1px 14px #888888;
}
#btn{
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    outline: none;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  span{
      margin-right: 8px;
  }
  #btn:hover{
      background-color: gray;
      color: white;
  }
  #headdin{
      text-align: center;
      margin-bottom: 20px;
  }
  #choose{
      text-align: center;
      color: black;
      margin-bottom: 20px;
  }